{% set fields = Bake.filterFields(fields, schema, modelObject) %}
<div class="bjui-pageContent">
    <form action="<?php echo $this->Url->build(['plugin' => {% if plugin %}'{{ plugin }}'{% else %}null{% endif %}, 'controller' => '{{ modelObject.getAlias() }}', 'action' => 'edit', $data['id']])?>" class="pageForm" data-toggle="validate" data-reloadNavtab="true" >
        <table class="table table-condensed table-hover">
            <tbody>
{% for field in fields if field not in primaryKey %}
    {%- if keyFields[field] %}
        {%- set fieldData = Bake.columnData(field, schema) %}
        {%- if fieldData.null %}
            <tr>
                <td>
                    <label class="control-label x85">{{ field }}：</label>
                    <input type="text" name="{{ field }}" value="<?php echo $data['{{ field }}']?>" size="35" class="form-control input-nm">
                </td>
            </tr>
            {{- "\n" }}
        {%- else %}
            <tr>
                <td>
                    <label class="control-label x85">{{ field }}：</label>
                    <input type="text" name="{{ field }}" value="<?php echo $data['{{ field }}']?>" data-rule="required" size="35" class="form-control input-nm">
                </td>
            </tr>
            {{- "\n" }}
        {%- endif %}
    {%- elseif field not in ['created', 'modified', 'updated'] %}
        {%- set fieldData = Bake.columnData(field, schema) %}
        {%- if fieldData.null %}
            <tr>
                <td>
                    <label class="control-label x85">{{ field }}：</label>
                    <input type="text" name="{{ field }}" value="<?php echo $data['{{ field }}']?>" size="35" class="form-control input-nm">
                </td>
            </tr>
            {{- "\n" }}
        {%- else %}
            <tr>
                <td>
                    <label class="control-label x85 required">{{ field }}：</label>
                    <input type="text" name="{{ field }}" value="<?php echo $data['{{ field }}']?>" size="35" class="form-control input-nm" data-rule="required">
                </td>
            </tr>
            {{- "\n" }}
        {%- endif %}
    {%- endif %}
{%- endfor %}
        </tbody>
        </table>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close btn-no">关闭</button></li>
        <li><button type="submit" class="btn-blue">保存</button></li>
    </ul>
</div>
